# Main packages for API interactions and ML functionality
huggingface_hub>=0.19.0
requests>=2.31.0
python-dotenv>=1.0.0

# OpenAI integration
openai>=1.0.0

# Testing framework
pytest>=7.4.0
pytest-cov>=4.1.0
coverage>=7.2.0

# Backend Framework
Django>=5.0
djangorestframework>=3.15
pytest-django>=4.9.0
psycopg[binary]>=3.2

# AWS
boto3>=1.28.0
